:root{
    /*Color Palette */
   --green: #007d7b;
   --black: #000000;
   --white: #ffffff;

   /*Typography*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-width: 458;
    color: var(--black);    
}

header{
    color:#007d7b;
    background-color: #ffffff;
    text-align:center;  
}

h1{
    text-align: center;
}

h2{
    text-align: left;
    color: #000000;
}

h3{
    text-align: center;
}

nav h2{
   visibility:hidden; 
}

nav ul li {
    display: grid;
    text-align: right;
    color:#ffffff;
    margin-bottom: 15px;
}

nav ul li:last-of-type {
    width: 60px;
    height: 60px;
    position: fixed;
    left:0px;
    bottom: 0px;
}

section span{
    text-align: center;
}

/*---------- Breakpoints based on mockups  ----------*/

/*---------- Small-min-width: 458px` --------------*/
@media screen and (min-width: 458px) {
    nav {
        width: fit-content;
        display: grid;
        text-align: justify center;
    }    
}

/*---------- Medium-min-width: 880px --------------*/
@media screen and (min-width: 880px) {
    nav ul {
        width: fit-content;
        display: grid;
        text-align: justify center;
    }
}

/*---------- Large-min-width: 1300ps --------------*/
@media screen and (min-width: 1300px) {
    nav ul {
        width: fit-content;
        display: grid;
        text-align: justify center;
    }
}