:root{
    /*Color Palette */
   --green: #007d7b;
   --black: #000000;
   --white: #ffffff;

   /*Typography*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-width: 458;
    
    color: var(--black);
}