:root{
    /*Color Palette */
   --green: #007d7b;
   --black: #000000;
   --white: #ffffff;
   
   /* Typography - Font Family */

   --font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--black);
    color: var(--black);
}